<!DOCTYPE html>
<html>

<head>
  <title>Posts</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/posts.js"></script>
  <script src="reload/reload.js"></script>
</head>

<body>


  <form class="post-form">
    <label for="post-form-name">Name</label>
  </p>
    <input type="text" id="post-form-name" placeholder="Enter your name">
  </p>
    <label for="post-form-post">Post</label>
  </p>
    <textarea type="text" placeholder="Enter your post" id="post-form-post" rows="6"></textarea>
  </p>
    <button type="submit">Submit</button>
  </form>



  <h1>Posts</h1>
  <div class="post-messages"></div>
</body>

</html>
